In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('zoo.csv')

In [3]:
data.describe()

,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,class_type
count,101.000000,101.000000,101.000000,101.000000,101.000000,101.000000,101.000000,101.000000,101.000000,101.000000,101.000000,101.000000,101.000000,101.000000,101.000000,101.000000,101.000000
mean,0.425743,0.198020,0.584158,0.405941,0.237624,0.356436,0.554455,0.603960,0.821782,0.792079,0.079208,0.168317,2.841584,0.742574,0.128713,0.435644,2.831683
std,0.496921,0.400495,0.495325,0.493522,0.427750,0.481335,0.499505,0.491512,0.384605,0.407844,0.271410,0.376013,2.033385,0.439397,0.336552,0.498314,2.102709
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,1.000000
50%,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,4.000000,1.000000,0.000000,0.000000,2.000000
75%,1.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,4.000000,1.000000,0.000000,1.000000,4.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,8.000000,1.000000,1.000000,1.000000,7.000000

In [4]:
import numpy as np

In [23]:
def data_split(data, ratio):
    np.random.seed(42)
    shuffled = np.random.permutation(len(data))
    test_set_size = int(len(data) * ratio) 
    test_indicies = shuffled[:test_set_size]
    train_indicies = shuffled[test_set_size:]
    return data.iloc[train_indicies], data.iloc[test_indicies]

In [27]:
train, test = data_split(data, 0.2)

In [28]:
train

,animal_name,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,class_type
76,seasnake,0,0,0,0,0,1,1,1,1,0,1,0,0,1,0,0,3
89,toad,0,0,1,0,0,1,0,1,1,1,0,0,4,0,0,0,5
26,frog,0,0,1,0,0,1,1,1,1,1,1,0,4,0,0,0,5
42,ladybird,0,0,1,0,1,0,1,0,0,1,0,0,6,0,0,0,6
70,reindeer,1,0,0,1,0,0,0,1,1,1,0,0,4,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,pike,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,1,4
71,rhea,0,1,1,0,0,0,1,0,1,1,0,0,2,1,0,1,2
14,crab,0,0,1,0,0,1,1,0,0,0,0,0,4,0,0,0,7
92,tuna,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,1,4
51,moth,1,0,1,0,1,0,0,0,0,1,0,0,6,0,0,0,6

In [29]:
test

,animal_name,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,class_type
84,squirrel,1,0,0,1,0,0,0,1,1,1,0,0,2,1,0,0,1
55,oryx,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
66,porpoise,0,0,0,1,0,1,1,1,1,1,0,1,0,1,0,1,1
67,puma,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1
45,lion,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1
39,honeybee,1,0,1,0,1,0,0,0,0,1,1,0,6,0,1,0,6
22,elephant,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
44,leopard,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1
10,cheetah,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1
0,aardvark,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
18,dogfish,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,1,4
30,gnat,0,0,1,0,1,0,0,0,0,1,0,0,6,0,0,0,6
97,wasp,1,0,1,0,1,0,0,0,0,1,1,0,6,0,0,0,6
33,gull,0,1,1,0,1,1,1,0,1,1,0,0,2,1,0,0,2
77,seawasp,0,0,1,0,0,1,1,0,0,0,1,0,0,0,0,0,7
4,boar,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1
93,vampire,1,0,0,1,1,0,0,1,1,1,0,0,2,1,0,0,1
78,skimmer,0,1,1,0,1,1,1,0,1,1,0,0,2,1,0,0,2
12,chub,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
31,goat,1,0,0,1,0,0,0,1,1,1,0,0,4,1,1,1,1

In [9]:
X_train = train[['animal_name', 'hair', 'feathers', 'eggs', 'milk', 'airborne', 'aquatic', 'predator', 'toothed', 'backbone', 'breathes', 'venomous', 'fins', 'legs', 'tail', 'domestic', 'catsize']].to_numpy()
X_test = test[['animal_name', 'hair', 'feathers', 'eggs', 'milk', 'airborne', 'aquatic', 'predator', 'toothed', 'backbone', 'breathes', 'venomous', 'fins', 'legs', 'tail', 'domestic', 'catsize']].to_numpy()

In [32]:
Y_train = train[['class_type']].to_numpy().reshape(81, )
Y_test = test[['class_type']].to_numpy().reshape(20, )

In [33]:
X_train

array([['squirrel', 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 2, 1, 0, 0],
       ['oryx', 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 4, 1, 0, 1],
       ['porpoise', 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1],
       ['puma', 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 4, 1, 0, 1],
       ['lion', 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 4, 1, 0, 1],
       ['honeybee', 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 6, 0, 1, 0],
       ['elephant', 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 4, 1, 0, 1],
       ['leopard', 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 4, 1, 0, 1],
       ['cheetah', 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 4, 1, 0, 1],
       ['aardvark', 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 4, 0, 0, 1],
       ['dogfish', 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1],
       ['gnat', 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 6, 0, 0, 0],
       ['wasp', 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 6, 0, 0, 0],
       ['gull', 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 2, 1, 0, 0],
       ['seawasp', 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0],
       ['boar', 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 4, 1, 0, 1],
       ['vampire', 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 2, 1, 0, 0],
       ['skimmer', 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 2, 1, 0, 0],
       ['chub', 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0],
       ['goat', 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 4, 1, 1, 1]],
      dtype=object)

In [34]:
Y_train

array([3, 5, 5, 6, 1, 7, 6, 7, 1, 1, 2, 3, 1, 1, 2, 1, 1, 7, 1, 2, 7, 4,
       4, 2, 4, 1, 1, 1, 5, 3, 1, 7, 6, 1, 1, 4, 4, 2, 1, 1, 1, 6, 2, 2,
       1, 1, 1, 7, 1, 4, 1, 3, 2, 2, 1, 3, 2, 1, 1, 2, 2, 1, 7, 2, 1, 1,
       5, 2, 4, 2, 2, 7, 1, 4, 4, 2, 4, 2, 7, 4, 6], dtype=int64)

In [35]:
X_test

array([['seasnake', 0, 0, ..., 1, 0, 0],
       ['toad', 0, 0, ..., 0, 0, 0],
       ['frog', 0, 0, ..., 0, 0, 0],
       ...,
       ['crab', 0, 0, ..., 0, 0, 0],
       ['tuna', 0, 0, ..., 1, 0, 1],
       ['moth', 1, 0, ..., 0, 0, 0]], dtype=object)

In [36]:
Y_test

array([1, 1, 1, 1, 1, 6, 1, 1, 1, 1, 4, 6, 6, 2, 7, 1, 1, 2, 4, 1],
      dtype=int64)

In [37]:
from sklearn.linear_model import LogisticRegression
clf = LogisticRegression()
clf.fit(X_train, Y_train)

ValueError: could not convert string to float: 'goat'