# Heart Disease Detector

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data.csv')

In [3]:
df

      bloodPreasure  Age  disProb
0               128   12        0
1               139   46        0
2               135   67        0
3               127   81        1
4               147    5        0
...             ...  ...      ...
1019            136   51        1
1020            139   43        0
1021            147    3        1
1022            133   53        0
1023            137   35        1

[1024 rows x 3 columns]

In [4]:
df.head()

   bloodPreasure  Age  disProb
0            128   12        0
1            139   46        0
2            135   67        0
3            127   81        1
4            147    5        0

In [5]:
df.tail()

      bloodPreasure  Age  disProb
1019            136   51        1
1020            139   43        0
1021            147    3        1
1022            133   53        0
1023            137   35        1

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1024 entries, 0 to 1023
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   bloodPreasure  1024 non-null   int64
 1   Age            1024 non-null   int64
 2   disProb        1024 non-null   int64
dtypes: int64(3)
memory usage: 24.1 KB

In [7]:
df.describe()

       bloodPreasure          Age      disProb
count    1024.000000  1024.000000  1024.000000
mean      134.495117    50.848633     0.515625
std         8.779808    29.119223     0.500000
min       120.000000     1.000000     0.000000
25%       127.000000    25.000000     0.000000
50%       134.000000    52.000000     1.000000
75%       142.000000    76.000000     1.000000
max       150.000000   100.000000     1.000000

# Train Test Splitting

In [8]:
import numpy as np

In [9]:
def split_data(data, ratio):
    np.random.seed(42)
    shuffled = np.random.permutation(len(data))
    test_set_size = int(len(data) * ratio)
    test_indicies = shuffled[:test_set_size]
    train_indicies = shuffled[test_set_size:]
    return data.iloc[train_indicies], data.iloc[test_indicies]

In [10]:
train, test = split_data(df, 0.2)

In [11]:
train

     bloodPreasure  Age  disProb
745            140   92        0
137            133    9        1
377            134   21        0
388            147   85        0
824            132   70        0
..             ...  ...      ...
106            148   76        0
270            146   33        0
860            141   79        0
435            129    8        0
102            139   74        1

[820 rows x 3 columns]

In [12]:
test

     bloodPreasure  Age  disProb
525            137   95        1
357            136   69        1
444            138   15        1
31             120   83        1
618            133   17        1
..             ...  ...      ...
429            126   43        0
542            137    9        0
903            141   68        0
528            129    9        0
294            148   39        1

[204 rows x 3 columns]

In [13]:
X_train = train[['bloodPreasure', 'Age']].to_numpy()
X_test = test[['bloodPreasure', 'Age']].to_numpy()

In [14]:
Y_train = train[['disProb']].to_numpy().reshape(820, )
Y_test = test[['disProb']].to_numpy().reshape(204, )

In [15]:
X_train

array([[140,  92],
       [133,   9],
       [134,  21],
       ...,
       [141,  79],
       [129,   8],
       [139,  74]], dtype=int64)

In [16]:
X_test

array([[137,  95],
       [136,  69],
       [138,  15],
       [120,  83],
       [133,  17],
       [131,  67],
       [134,  47],
       [147,  66],
       [131,   1],
       [124,  20],
       [126,  24],
       [137,  61],
       [150,  74],
       [129,  10],
       [123,   7],
       [150,  49],
       [141,  27],
       [140,  13],
       [126,  94],
       [122,  86],
       [139,  97],
       [135,  61],
       [135,  48],
       [142,  36],
       [126,  56],
       [146,  10],
       [137,  89],
       [133,  47],
       [135,  99],
       [125,  15],
       [132,  13],
       [125,  22],
       [123,  29],
       [141,  23],
       [136,  58],
       [126,  28],
       [121,  26],
       [125,  40],
       [137,  22],
       [129,  40],
       [120,  52],
       [129,  55],
       [146,  11],
       [123,  29],
       [140,  68],
       [127,  53],
       [124,  96],
       [138,  93],
       [138,  81],
       [140,  77],
       [120,  24],
       [150,  84],
       [130,  97],
       [133,  48],
       [132,  17],
       [120,  60],
       [142,  66],
       [149,  45],
       [122,   2],
       [132,  61],
       [120,  65],
       [121,  72],
       [123,  96],
       [139,  62],
       [146,  48],
       [126,  17],
       [128,  10],
       [149,  75],
       [142,  92],
       [137,  96],
       [124,  33],
       [143,  45],
       [127,  81],
       [143,  95],
       [145,  65],
       [120,  46],
       [136,  92],
       [139,  57],
       [150,  38],
       [123,  12],
       [145,  14],
       [133,  67],
       [128,  68],
       [149,  19],
       [132,  21],
       [143,  31],
       [132,  55],
       [140,  92],
       [144,  32],
       [143,  18],
       [148,   7],
       [120,  85],
       [131,  33],
       [150,  59],
       [124,  53],
       [136,  34],
       [149,  77],
       [131,   6],
       [139,   8],
       [145,  98],
       [120,  73],
       [132,  55],
       [144,  70],
       [130,  93],
       [125,  38],
       [129,  40],
       [141,  96],
       [143,  11],
       [142,  15],
       [120,  18],
       [144,  39],
       [132,  84],
       [125,  68],
       [148,  23],
       [130,  61],
       [147,  81],
       [148,  33],
       [140,   2],
       [125,  96],
       [135,  75],
       [125,  72],
       [148,  66],
       [132,  78],
       [146,  23],
       [133,  53],
       [138,  99],
       [123,  57],
       [133,  91],
       [133,  33],
       [121,  42],
       [133,   9],
       [134,  57],
       [144,  70],
       [139,   5],
       [140,  75],
       [141,   6],
       [122,  28],
       [126,  64],
       [139,  48],
       [129,  32],
       [124,  87],
       [125,  91],
       [133,  57],
       [126,  87],
       [124,  28],
       [148,  55],
       [131,   2],
       [129,  19],
       [131, 100],
       [136,  51],
       [137,   7],
       [122,  25],
       [132,  10],
       [120,  54],
       [127,  38],
       [125,  72],
       [130,  11],
       [138,  28],
       [146,  48],
       [131,  61],
       [150,  20],
       [136,  14],
       [135,  44],
       [144,  29],
       [135,  69],
       [121,  25],
       [134,  58],
       [124,  34],
       [131,  77],
       [129,  78],
       [122,  99],
       [149,  33],
       [123,  48],
       [144,  86],
       [124,  12],
       [135,  62],
       [121,  33],
       [121,  56],
       [129,  90],
       [136,  51],
       [139,  16],
       [140,  80],
       [147,  70],
       [141,  79],
       [128,  47],
       [136,  73],
       [128,  47],
       [133,  23],
       [147,  93],
       [140,  40],
       [146,  73],
       [149, 100],
       [121,  71],
       [145,  84],
       [131,  63],
       [148,  12],
       [148,  78],
       [131,  67],
       [134,  77],
       [126,  43],
       [137,   9],
       [141,  68],
       [129,   9],
       [148,  39]], dtype=int64)

In [17]:
Y_test

array([1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1,
       1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0,
       0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1,
       1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1,
       1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0,
       0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1,
       1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1,
       1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1,
       0, 0, 0, 0, 0, 1], dtype=int64)

In [18]:
Y_train

array([0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0,
       0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1,
       1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1,
       0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0,
       1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 1,
       1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1,
       1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0,
       0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0,
       1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1,
       1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0,
       0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0,
       1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0,
       1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0,
       0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1,
       1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1,
       0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0,
       0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0,
       0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0,
       1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1,
       1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0,
       0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0,
       1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0,
       1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1,
       1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0,
       1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0,
       0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1,
       1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0,
       1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0,
       1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1,
       0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1,
       1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1,
       0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1,
       0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1,
       1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1,
       1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 0, 1], dtype=int64)

In [19]:
from sklearn.linear_model import LogisticRegression

In [20]:
clf = LogisticRegression()
clf.fit(X_train, Y_train)

LogisticRegression()

In [21]:
inputFeatures = [120, 45]
infProb = clf.predict_proba([inputFeatures])[0][1]

In [22]:
infProb

0.5053335645208221