In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('data.csv')

In [3]:
data

      Money Discussion  Argency  Spam
0                   77        3     1
1                   36       12     0
2                   18       24     0
3                   41       71     1
4                    2       56     1
...                ...      ...   ...
2052                93       30     0
2053                80       93     1
2054                 9       19     1
2055                42       85     0
2056                11        0     1

[2057 rows x 3 columns]

In [4]:
data.head()

   Money Discussion  Argency  Spam
0                77        3     1
1                36       12     0
2                18       24     0
3                41       71     1
4                 2       56     1

In [5]:
data.tail()

      Money Discussion  Argency  Spam
2052                93       30     0
2053                80       93     1
2054                 9       19     1
2055                42       85     0
2056                11        0     1

In [6]:
data.describe()

       Money Discussion      Argency         Spam
count       2057.000000  2057.000000  2057.000000
mean          49.919300    50.650948     0.491979
std           29.131767    28.964232     0.500057
min            0.000000     0.000000     0.000000
25%           25.000000    26.000000     0.000000
50%           48.000000    51.000000     0.000000
75%           76.000000    76.000000     1.000000
max          100.000000   100.000000     1.000000

In [7]:
import numpy as np

In [8]:
def split_data(data, ratio):
    np.random.seed(42)
    shuffled = np.random.permutation(len(data))
    test_set_size = int(len(data) * ratio)
    test_indicies = shuffled[:test_set_size]
    train_indicies = shuffled[test_set_size:]
    return data.iloc[train_indicies], data.iloc[test_indicies]

In [9]:
train, test = split_data(data, 0.2)

In [10]:
train

      Money Discussion  Argency  Spam
1366                62       83     1
67                   8       87     0
1001                26       84     1
567                 79        5     1
1271                47       14     1
...                ...      ...   ...
1638                63        1     0
1095                65       52     1
1130                99       13     1
1294                 7       90     0
860                 84       23     1

[1646 rows x 3 columns]

In [11]:
test

      Money Discussion  Argency  Spam
184                 14       58     1
1947                33       41     1
251                 12       88     0
1121                34       86     1
1487                37       67     0
...                ...      ...   ...
322                 67       54     1
1232                18        7     1
266                 55       28     1
1170                54       54     0
1474                41        3     0

[411 rows x 3 columns]

In [12]:
X_train = train[['Money Discussion', 'Argency']].to_numpy()
X_test = test[['Money Discussion', 'Argency']].to_numpy()

In [13]:
X_train

array([[62, 83],
       [ 8, 87],
       [26, 84],
       ...,
       [99, 13],
       [ 7, 90],
       [84, 23]], dtype=int64)

In [14]:
X_test

array([[ 14,  58],
       [ 33,  41],
       [ 12,  88],
       [ 34,  86],
       [ 37,  67],
       [ 69,  96],
       [ 16,  56],
       [ 74,  71],
       [  1,  94],
       [ 77,  59],
       [ 15,  50],
       [ 68,  61],
       [ 59,   7],
       [ 16,   9],
       [ 40,  48],
       [ 95,  80],
       [ 71,  99],
       [ 59,  20],
       [ 78, 100],
       [ 50,  45],
       [ 75,  38],
       [ 34,  42],
       [ 41,  81],
       [ 25,  96],
       [ 32,  60],
       [ 90,  22],
       [ 83,  28],
       [ 85,  56],
       [ 68,  18],
       [ 99,  60],
       [ 11,  29],
       [ 92,  60],
       [ 23,  88],
       [  0,  81],
       [ 16,  84],
       [ 11,  82],
       [ 36,  87],
       [ 83,  96],
       [ 82,  22],
       [ 38,  55],
       [  9,  86],
       [ 70,  66],
       [ 65,  28],
       [ 95,  99],
       [ 37,  88],
       [ 96,  13],
       [ 38,  20],
       [ 70,  28],
       [ 74,  91],
       [ 50,  31],
       [ 35,  79],
       [ 59,  90],
       [ 96,  95],
       [ 80,   1],
       [ 33,  46],
       [ 56,  84],
       [ 38,  86],
       [ 98,  13],
       [ 26,  66],
       [ 41,  22],
       [  6,  57],
       [ 14,  98],
       [ 70,  64],
       [ 37,  85],
       [ 88,  41],
       [  2,  46],
       [ 18,  97],
       [ 11,  91],
       [ 99,  65],
       [ 30,  27],
       [ 13,  66],
       [ 18,  42],
       [ 85,   8],
       [ 41,  54],
       [ 63,  68],
       [ 46,  76],
       [ 73,  52],
       [ 96,  73],
       [ 31,  47],
       [  8,   1],
       [ 97,  24],
       [ 16,  79],
       [ 34,  55],
       [ 97,  11],
       [ 40,  51],
       [ 41,   4],
       [ 42,  65],
       [ 18,  50],
       [ 18,  12],
       [  2,   6],
       [ 23,  65],
       [ 91,  22],
       [ 96,  52],
       [ 61,  21],
       [ 56,   4],
       [  3,  90],
       [ 49,  44],
       [100,  24],
       [ 85,  36],
       [ 94,  66],
       [ 11,  18],
       [ 45,   4],
       [ 36,  77],
       [ 74,   6],
       [ 60,  76],
       [ 82,  30],
       [ 11,  95],
       [ 80,  27],
       [ 70,  95],
       [  4,   6],
       [ 19,  21],
       [ 39,  42],
       [ 38,  20],
       [ 80,  43],
       [ 45,  30],
       [ 64,  11],
       [100,  53],
       [ 26,  78],
       [  5,  91],
       [ 79,  56],
       [ 94,   8],
       [ 97,   1],
       [ 41,  65],
       [ 25,  87],
       [ 50,  82],
       [ 11,  38],
       [ 71,  33],
       [ 33,  40],
       [ 80,  51],
       [ 37,   2],
       [ 79,  63],
       [ 26,  51],
       [ 60,  38],
       [ 70,  68],
       [ 98,  72],
       [ 25,  84],
       [ 88,  17],
       [ 27,  77],
       [ 53,  93],
       [ 14,  27],
       [ 53,  73],
       [ 43,  68],
       [  6,  76],
       [ 52,  83],
       [ 58,  26],
       [ 38,  52],
       [ 58,  53],
       [ 93,   5],
       [ 47,  46],
       [ 54,  29],
       [ 93,  55],
       [ 89,  98],
       [ 66,  46],
       [ 32,  78],
       [ 69,   7],
       [ 69,  33],
       [ 94,  68],
       [  9,  32],
       [ 54,  58],
       [ 84,  89],
       [ 16,  47],
       [ 24,  65],
       [ 93,   8],
       [ 60,  64],
       [ 24,  38],
       [ 79,  31],
       [ 91,   8],
       [ 18,  44],
       [ 37,  43],
       [ 34,  24],
       [ 39,   9],
       [ 25,  60],
       [ 76,  93],
       [ 56,  81],
       [ 31,  76],
       [ 12,  72],
       [ 99,  43],
       [ 19,  46],
       [ 93,  85],
       [ 49,  56],
       [  8,  19],
       [ 68,  72],
       [ 13,  87],
       [ 51,  92],
       [ 73,  98],
       [ 46,  82],
       [ 14,  59],
       [ 44,  22],
       [ 42,  19],
       [ 20,  52],
       [ 96,  36],
       [ 34,  90],
       [  8,  19],
       [ 82,  90],
       [ 57,   3],
       [ 35,  75],
       [ 66,  18],
       [ 26,  30],
       [ 45,  59],
       [ 90,  95],
       [ 94,   1],
       [ 86,   2],
       [ 72,  38],
       [ 75,   5],
       [ 19,  61],
       [ 39,  65],
       [ 61,  32],
       [ 62,   5],
       [ 74,  83],
       [ 35,  67],
       [ 58,  55],
       [ 55,  84],
       [ 20,  83],
       [ 70,  17],
       [ 50,  69],
       [ 57,  84],
       [ 63,  42],
       [ 81,  52],
       [ 60,  48],
       [ 30,  57],
       [ 97,  37],
       [ 82,  94],
       [ 56,  87],
       [ 87,  45],
       [100,  34],
       [ 79,   1],
       [ 84,  52],
       [  1,  25],
       [ 32,  24],
       [ 15,  70],
       [  8,  87],
       [ 30,  60],
       [ 43,  99],
       [  0, 100],
       [ 44,   3],
       [ 98,  26],
       [ 79,  39],
       [ 93,  62],
       [ 89,  59],
       [ 23,  60],
       [ 46,  62],
       [  3,  98],
       [ 46,  57],
       [ 26,  72],
       [ 97,  75],
       [ 17,  36],
       [ 38,  36],
       [ 98,  72],
       [  2,  40],
       [ 78,  98],
       [ 44,  28],
       [ 19,  68],
       [ 50,  69],
       [ 75,  38],
       [ 22,  21],
       [ 50,  90],
       [ 85,  66],
       [ 27,  97],
       [ 87,  92],
       [ 38,  49],
       [ 51,  15],
       [  0,  71],
       [  2,  54],
       [ 58,  38],
       [ 93,  59],
       [ 31,  59],
       [ 62,  18],
       [ 95,  57],
       [ 50,  98],
       [ 89,  82],
       [ 44,   2],
       [ 84,  24],
       [  6,   1],
       [ 55,  80],
       [ 48,  32],
       [ 44,  87],
       [ 32,   0],
       [ 34,  80],
       [ 40,  35],
       [ 37,  71],
       [ 86,  57],
       [ 27,  72],
       [ 67,  33],
       [ 66,   2],
       [ 18,  19],
       [ 27,   9],
       [ 20,  14],
       [ 12,  32],
       [ 11,  55],
       [ 66,  27],
       [ 67,  89],
       [ 62,  99],
       [ 13,  39],
       [  4,  54],
       [ 21,  53],
       [ 42,   6],
       [ 91,   5],
       [  5,   5],
       [ 71,  56],
       [ 46,  62],
       [ 88,  20],
       [ 55,  45],
       [ 39,  38],
       [ 69,  70],
       [ 66,  83],
       [ 90,  89],
       [ 13,   2],
       [ 94,  65],
       [ 15,  36],
       [ 13,  55],
       [ 32,  84],
       [ 72,  22],
       [ 69,  14],
       [ 12,  11],
       [100,   9],
       [ 85,  73],
       [ 36,   7],
       [ 27,  86],
       [ 98,  14],
       [ 94,  49],
       [ 21,   7],
       [ 76,  55],
       [ 19,  82],
       [ 86,  14],
       [ 48,  23],
       [ 12,  27],
       [ 22,  77],
       [ 82,  84],
       [ 51,  34],
       [ 70,  63],
       [ 16,  61],
       [ 18,  70],
       [ 46,  65],
       [  9,  24],
       [ 38,  76],
       [ 72,   9],
       [ 92,  18],
       [ 52,  94],
       [ 70,  55],
       [  8,  97],
       [ 30,  37],
       [ 55,  61],
       [  9,  83],
       [ 79,  19],
       [ 35,  64],
       [ 30,  59],
       [ 37,  42],
       [ 23,  81],
       [ 30,  82],
       [ 99,  97],
       [ 22,  24],
       [ 93,  67],
       [ 68, 100],
       [ 35,  58],
       [ 81,  96],
       [ 11,  87],
       [ 72,  75],
       [ 47,   4],
       [ 55,  28],
       [ 22,  74],
       [ 65,   6],
       [ 36,  30],
       [ 88,  97],
       [100,  17],
       [  5,  12],
       [ 29,  69],
       [ 68,  77],
       [  0,  18],
       [ 46,  58],
       [ 58,  21],
       [ 30,  86],
       [ 42,   1],
       [ 72,  66],
       [ 32,  58],
       [ 29,  58],
       [ 53,  67],
       [ 48,  92],
       [ 64,  40],
       [ 28,  12],
       [ 62,  86],
       [ 22,  65],
       [ 16,  37],
       [ 16,  30],
       [ 23,  67],
       [  0,  31],
       [ 76,  90],
       [ 49,  11],
       [ 80,   8],
       [ 91,  47],
       [  8,  30],
       [ 27,  34],
       [ 21,  93],
       [ 37,  42],
       [ 73,  33],
       [ 46,  78],
       [ 14,   1],
       [ 40,   9],
       [ 34,   0],
       [ 82,  13],
       [ 96,  56],
       [ 66,  26],
       [ 83,  90],
       [ 29,  52],
       [ 51,  23],
       [ 97,  45],
       [ 45,  77],
       [ 67,  54],
       [ 18,   7],
       [ 55,  28],
       [ 54,  54],
       [ 41,   3]], dtype=int64)

In [15]:
Y_train = train[['Spam']].to_numpy().reshape(1646, )
Y_test = test[['Spam']].to_numpy().reshape(411, )

In [16]:
Y_train

array([1, 0, 1, ..., 1, 0, 1], dtype=int64)

In [17]:
Y_test

array([1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0,
       1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0,
       1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0,
       0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0,
       1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1,
       0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0,
       1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1,
       1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0,
       0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1,
       1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0,
       1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1,
       0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1,
       0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0,
       0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0,
       1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1,
       0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1,
       1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1,
       0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0], dtype=int64)

In [22]:
from sklearn.linear_model import LogisticRegression

In [23]:
clf = LogisticRegression()
clf.fit(X_train, Y_train)

LogisticRegression()

In [28]:
Features = [100, 89]
Label = clf.predict([Features])

In [29]:
Label[0]

1